<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="在此输入搜索内容" @bind="searchText">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @onclick="ToBsmSearch">搜索</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string? searchText;

    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private void ToBsmSearch()
    {
        if(searchText!=null)
            NavigationManager.NavigateTo($"/Bsm/Search?Func=&Text={searchText}");
    }
}
